@{
    ViewBag.Title = "AsyncWebsite";
}
<div>
     <table id="signin" class="table table-bordered left">
        <tr>
            <th>
                @Html.ActionLink("Press to send token.", "SendToken", "Home", null, new { @class = "btn btn-primary" })
            </th>
        </tr>
    </table>
    <br />

    <h2>Response from AsyncWebAPI</h2>
    <p>@ViewBag.Response</p>
    <p>@ViewBag.Error</p>
</div>