# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

root = false

# All cs files
[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
