bin
obj
*.suo
*.user
_ReSharper.*
*.DS_Store
*.userprefs
*.pidb
*.vspx
*.psess
TestResults/*
TestResult.xml
nugetkey
packages
target
artifacts
StyleCop.Cache
node_modules
*.snk
.nuget/NuGet.exe
docs/build
build/*
Microsoft.IdentityModel.Extensions/TestResults/*
Microsoft.IdentityModel.Extensions/drop/*
Microsoft.IdentityModel.Extensions/nuget/*
Microsoft.IdentityModel.Extensions/src/Backup/*
Microsoft.IdentityModel.Extensions/build/*
Microsoft.IdentityModel.Extensions/src/SequenceDiagram*
Microsoft.IdentityModel.Extensions/src/lib