<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens.Saml" version="6.5.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Xml" version="6.5.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.5.1" targetFramework="net472" />
</packages>